.pointcloud-list-container{

    width: 100%;
    height: 400px;

    display: flex;
    justify-content: space-around;

}

.pointcloud-container{

    width: 500px;
    height: 350px;

    /* border-style: solid;
    border-color: gray;
    border-radius: 5px; */

}